.title {
text-align: center;
font-family:Georgia, 'Times New Roman', Times, serif;

}
.card-2, .card-1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  width: 25%;
}
.wrapper {
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}
.footer {
    display: flex;
    gap: 50px;
    justify-content: center;
    border-top: black solid 2px;
    margin-top: 20px;
}
ul {
    width: 90px;
    margin-left: auto;
    margin-right: auto;
}
menu > li {
    text-align: start;
    padding-left: 150px;
}