body {
    background-color: #212b2d;
}
.title{
  position: absolute;
  top: 10%;
  left: 30%;
  color: aliceblue;
}
.heading-1 {
  position: absolute;
  top: 20%;
  left: 30%;
  color: aliceblue;
}
.list {
  display: flex;
  flex-wrap: nowrap;
  background-color:#333d3f;
  width: 1100px;
  margin-left: 367px;
  margin-top: 10px;
  text-align: center;
  line-height: 50px;
  gap: 50px;
  justify-content: center;
}
.list > div > a {
  color: white;
  text-decoration: none; 
  font-size: 15px;
}
span {
  margin-left: 15px;
  font-size:20px;
  color: white;
}
img {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.part1 {
  display: flex;
  flex-direction: column;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}
.part2 {
  display: grid;
}
.text-2{
  grid-column: 1 / span 3;
  grid-row: 1;
}
.hr {
  margin-left: -1px;
  width: 765px;
}

.list-2 > ul > li {
  padding: 3px;
  color: white;
}
.list-2, .list-2 > ul > li > a { 
  color: white;
}
.text-1, .text-2, .text-3, .text-4 {
  color: white;
}
.text-3, .text-4 {
  width: 300px;
  margin-top: -25px;
}
.text-4{
  margin-left: 50px;
}
.vl {
  border-left: 3px solid white;
  height: 235px;
  margin-left: 75px;
}
.button {
  width: 100px;
  height: 50px;
  background-color: #98a8ad;
  cursor: pointer;
}
.hr2 {
  width: 1100px;
}
.copyright {
  text-align: center;
  color: white;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 100px;
}
.radio {
  display: flex;
  flex-direction: column;
}
.contact-us {
  position: absolute;
  left: 35%;
  color: white;
}
.form{
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  gap: 10px;
}